body{
    background-color: rgb(195, 139, 247);
}
a{
    font-size: 30px !important;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: aquamarine;
    border-radius: 50px !important;
    width: 500px;
    border-width: 10px !important;
    border-color: black !important;
}
.heading{
    font-size: 50px;
}